.s-ads {
  margin-bottom: 129px;
}

.ads {
  display: flex;
}

.ads .ads-box:nth-child(1) {
  margin-right: 30px;
}

.ads .ads-box:nth-child(1) .ads-img {
  top: -76px;
}

.ads-child .ads-img {
  top: 81px;
}
