.ads-box {
  position: relative;
}

.ads-text-box {
  width: 259px;
  background-color: #055bd3;
  border-radius: 5px;
  padding: 70px 286px 81px 25px;
}

.ads-text {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-size: 33px;
  line-height: 50px;
  color: #ffffff;
  margin: 0;
}

.ads-img:nth-child(1) {
  position: absolute;
  z-index: 999;
  top: -76px;
  right: -1px;
}

.ads-img:nth-child(2) {
  position: absolute;
  z-index: 999;
  top: -93px;
  right: -1px;
}
