.item{
  display: inline-block;
  width: 150px;
  margin-right: 65px;
  margin-bottom: 21px;
}

.item-title {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  margin: 0;
  margin-bottom: 20px;
}

.item-box {
  display: flex;
  align-items: center;
}

.item-input {
  margin-right: 10px;
}

.item-subtitle {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}
