.mentor-list {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.mentor-title {
  margin: 0 15px;
}

.mentor-box {
  position: absolute;
  z-index: 999;
  top: 94px;
  left: 730px;
  background-color: #ffffff;
  box-shadow: 2px 4px 11px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 20px 30px;
}

.mentor-personname {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: inline-block;
  align-items: center;
  text-align: center;
  color: #000000;
  margin: 0;
  margin-left: 15px;
  margin-bottom: 21px;
}
