.section {
  position: relative;
}
.main-section {
  display: flex;
  align-items: center;
  list-style: circle;
  margin: 0 60px;
}

.list-section{
  list-style-type: none;
}

.section-title {
  margin: 0 15px;
}

.section-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 441px;
}

.section-box {
  position: absolute;
  z-index: 999;
  top: 76px;
  left: 31px;
  background-color: #ffffff;
  box-shadow: 2px 4px 11px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 20px 30px;
}
