.State {
  position: relative;
  display: flex;
  align-items: center;
  list-style: circle;
  margin-right: 60px;
}

.State-list{
  list-style-type: none;
}

.State-title {
  margin: 0 15px;
}

.State-box {
  position: absolute;
  z-index: 999;
  top: 76px;
  left: 31px;
  width: 125px;
  background-color: #ffffff;
  box-shadow: 2px 4px 11px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 20px 30px;
}

.State-subbox{
  display: flex;
  align-items: center;
  justify-content: center;
}

.State-subbox:nth-child(1){
  margin-bottom: 24px;
}