.footer {
  background: linear-gradient(265.48deg, #095acd 33.12%, #006aff 84.7%);
  padding: 40px 0;
}

.footer-logo {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  text-decoration: none;
  color: #ffffff;
  margin-right: 331px;
}

.footer-main-box {
  display: flex;
  align-items: center;
}

.footer-list {
  display: flex;
  align-items: center;
  margin-right: 123px;
}

.footer-item:nth-child(1) {
  margin-right: 71px;
}

.footer-link {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
}

.footer-box{
  display: flex;
  align-items: center;
  margin-right: 56px;
}

.footer-box-link {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
}

.footer-box-link:nth-child(2){
  margin: 0 17px 0 17px;
}