.nav {
  display: flex;
  align-items: center;
  background-color: #016bff;
  padding: 26px 0 27px 0;
}

.nav-link {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  text-decoration: none;
  color: #ffffff;
  margin-right: 230px;
}

.nav-box {
  position: relative;
  margin-right: 103px;
}

.nav-input {
  background-color: rgba(255, 255, 255, 0.1);
  outline: 1px solid rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 14px 90px 14px 49px;
}

.nav-input::placeholder {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.nav-input:valid {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.nav-img {
  position: absolute;
  top: 15px;
  left: 20px;
}

.nav-list {
  display: flex;
  margin-right: 63px;
}

.nav-item:nth-child(1) {
  margin-right: 40px;
}

.nav-sublink {
  text-decoration: none;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.nav-presslink {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  background-color: #fe8b37;
  border-radius: 4px;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
  padding: 15px 20px;
}
