.press-box {
  display: flex;
  align-items: center;
  padding: 43px 0 53px 0;
}

.verify-box {
  display: flex;
  align-items: flex-end;
}

.press-box-img {
  margin-right: 13px;
}

.press-subtitle {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin: 0;
}

.press-main-box {
  width: 735px;
  display: block;
  margin: 0 auto;
  margin-bottom: 86px;
}

.press-title {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 0;
  margin-bottom: 37px;
}

.form {
  background-color: #ffffff;
  border: 1px solid rgba(51, 51, 51, 0.1);
  border-radius: 2px;
  margin-bottom: 50px;
  padding: 40px 50px 55px 35px;
}

.form-title {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin: 0;
  margin-bottom: 30px;
}

.form-label {
  display: block;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #333333;
  opacity: 0.4;
  margin-bottom: 14px;
}

.first-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.form-select {
  width: 310px;
  opacity: 0.6;
  border-radius: 3px;
  padding: 16px 147px 16px 16px;
}

.form-select option {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
}

.select-main-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-box {
  display: inline-block;
}

.select-box:nth-child(1) {
  margin-right: 30px;
}

.radio-box {
  display: inline-block;
  margin-top: 37px;
}

.radio {
  width: 155px;
  background-color: #fff;
  border: 1px solid rgba(51, 51, 51, 0.1);
  border-radius: 3px;
  padding: 16px 38px;
}

.radio-text {
  margin-bottom: 25px;
}

.radio-title {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

.select-link {
  width: 260px;
  border-radius: 3px;
  border: 1px solid rgba(51, 51, 51, 0.1);
  padding: 16px 16px;
}

.link-box {
  margin-left: 16px;
}

.press-organ-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 27px;
  padding: 30px 22px 30px 50px;
}

.press-post {
  width: 650px;
  display: block;
  margin: 0 auto;
  margin-bottom: 27px;
}

.post-title {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 25px;
}

.post-text {
  display: block;
  width: 325px;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  color: #333333;
  opacity: 0.5;
  bottom: none;
  margin-bottom: 50px;
}

.post-subtitle {
  display: block;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #333333;
  margin-bottom: 10px;
}

.post-box {
  position: relative;
  display: block;
  margin-top: 41px;
  margin-bottom: 20px;
}

.post-input {
  width: 620px;
  border-radius: 3px;
  border: 1px solid rgba(51, 51, 51, 0.1);
  padding: 17px 16px;
}

.post-file {
  background-color: #006aff;
  width: 160px;
  visibility: hidden;
  border-radius: 3px;
  border: 1px solid rgba(51, 51, 51, 0.1);
  padding: 17px 16px;
  border-radius: 3px;
}

.post-subbox {
  position: absolute;
  top: 30px;
  display: flex;
  align-items: center;
  background-color: #006aff;
  width: 160px;
  border-radius: 3px;
  border: 1px solid rgba(51, 51, 51, 0.1);
  padding: 17px 16px;
  border-radius: 3px;
}

.post-img {
  margin-left: 20px;
  margin-right: 15px;
}

.post-innerbox {
  background: #006aff;
  border-radius: 3px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.post-file::-webkit-file-upload-button {
  visibility: hidden;
}

.post-file::-webkit-input-placeholder {
  overflow: hidden;
}

.post-subtext {
  display: block;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #006aff;
  margin-bottom: 61px;
}

.post-next-box {
  display: block;
  margin-bottom: 50px;
}

.form-btn {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #b2bbc8;
  background-color: #ffffff;
  opacity: 0.4;
  border: 1px solid #b2bbc8;
  border-radius: 3px;
  padding: 16px 36px;
}

.secound {
  margin-right: 15px;
}

.color {
  background-color: #006aff;
  border-radius: 3px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.organ-box {
  margin-bottom: 18px;
}

.organ-title {
  display: block;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 27px;
}

.organ-label:nth-child(1) {
  margin-left: 50px;
  margin-right: 50px;
}

.organ-subtitle {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-right: 10px;
  color: #333333;
}

.organ-input {
  width: 280px;
  border-radius: 3px;
  padding: 17px 16px;
}

.organ-labeltitle {
  display: block;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #333333;
  margin-bottom: 10px;
}

.organ-sublabel {
  display: inline-block;
  margin-bottom: 18px;
}

.display {
  display: none;
}
